<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"/>
  <title>Log-in</title>
</head>
<body>
  <div class="main">
    <center><h1>Register</h1> </center>       
            <!-- Makes POST request to /register route -->
            <form style="display: flex; flex-direction: column; gap: 2rem;"action="/register" method="POST">
              <div >
                <label style="margin-left: 2rem;"for="email">Email: </label>
                <input type="email"  name="username" required>
              </div>
              <div >
                <label for="password">Password: </label>
                <input type="password" name="password" required>
              </div>
              <center><button class="registerbutton" type="submit">Register</button></center>
            </form>
  </div>
</body>
</html>


